%h1 ruby mine v0.1
= link_to "delete cookies", delete_cookies_path, style: "color:yellow" 
= link_to "save", "#", style: "color:yellow;margin-left: 20px", class: "save_game btn"

%hr

#stats
/TODO optimize the table for infinite amount of ores
	%table
		%tr.headers
			%th ore
			%th in inventory
			%th miners
			%th total value
			%th action
		%tr.gold
			%td gold
			%td.amount= @gold
			%td.miners= @gold_miners
			%td.value
			%td
				= link_to "hire", '#', class: "btn"
				= link_to "sell", '#', class: "btn"
		%tr.rubies
			%td ruby
			%td.amount= @rubies
			%td.miners= @ruby_miners
			%td.value
			%td
				= link_to "hire", '#', class: "btn"
				= link_to "sell", '#', class: "btn"
	.money
		money: 
		%span.value= @money

%hr

#rocks
	.ore.gold
	.ore.ruby

%hr{style: "clear:both"}


